---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// $link-color: red;
$info-color                 : #03a9f4 !default;
$link-color: mix(#000, $info-color, 20%) !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 15%) !default;


a {
    &:focus {
      @extend %tab-focus;
    }
  
    &:visited {
      color: $link-color-visited;
    }
  
    &:hover {
      color: $link-color-hover;
     // outline: 0;
    }

    text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #8d8df3;
    text-decoration-color: var(--vivid-vivid-02, #207DE9);
  }


.link-content {
    display: flex;
    align-items: flex-start;
}

.link-thumbnail {
    margin-right: 10px; /* Adjust spacing as needed */
}

.link-text {
    display: flex;
    flex-direction: column;
}
.link-image {
    max-height: 100px;
    width:100px;
    height:100px;
    margin: 12px 20px 0px 0px;
    border-radius: 4px;
    background-size: cover
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials